{{page-title "Goff-Fest 2021"}}

<MapboxGl
  @initOptions={{hash hash=true}}
  class='map-container' as |map|
>
  {{#each this.model as |location|}}
    <map.marker
      @lngLat={{array location.Longitude location.Latitude}}
      as |marker|
    >
      <img class="goff-logo" src="/images/pin.png"/>

      <marker.popup
        class="location-popup"
      >
        <div class="popup-container">
          <a
            href="/images/locations/{{location.id}}.jpg"
            target="_blank" rel="noopener noreferrer"
          >
            <img
              src="/images/locations/{{location.id}}.jpg"
              class="popup-image"
            />
          </a>
          <h2>{{location.Title}}</h2>
          <p>{{location.Description}}</p>
          <p>
            <a
              href="https://www.google.com/maps?q={{location.address}}"
              target="_blank" rel="noopener noreferrer"
            >
              Google Maps >></a>
          </p>
        </div>
      </marker.popup>
    </map.marker>
  {{/each}}
</MapboxGl>

<img src="/images/root-logo.png" class="root-logo mapboxgl-ctrl" />

{{outlet}}
